@page "/"
@using HttpClients.ClientInterfaces
@using Domain.Models
@inject NavigationManager NavMgr
@inject IUserService UserService
@inject IPostsService PostsService

<PageTitle>Index</PageTitle>




<AuthorizeView>
    <NotAuthorized>
        <div class="field">
            <button @onclick="Login">Log in</button>
        </div>
    </NotAuthorized>
    <Authorized>
        <div class="field">
            <button @onclick="Logout">Log out</button>
        </div>
    </Authorized>
</AuthorizeView>

        <div class="field">
            <button @onclick="CreatePost">Create Post</button>
        </div>


@if (Posts != null)
{
    @foreach (var post in Posts.Reverse())
            {
                <div class="card" @onclick="@(() => ViewPost(post.Id))">
                    <h5>@post.Title</h5>
                </div>
            }
}

@code
{
    private IEnumerable<Post>? Posts;

    protected override async Task OnInitializedAsync()
    {
        await LoadPosts();
    }

    
    private async Task LoadPosts()
    {
        Posts = await PostsService.GetAsync();
    }

    private void Login()
    {
        NavMgr.NavigateTo("/Login");
    }

    private async Task Logout()
    {
        await UserService.LogoutAsync();
        NavMgr.NavigateTo("/");
    }

    private void CreatePost()
    {
        NavMgr.NavigateTo("/CreatePosts");

    }

    private void ViewPost(int id)
    {
        NavMgr.NavigateTo($"posts/{id}");
    }
    
    
    
}