@page "/Posts/{id:int}"
@using HttpClients.ClientInterfaces
@using Domain.DTOs
@inject IPostsService PostService
@inject NavigationManager NavMgr


@if (post == null)
{
    <h3>This post does not exist!</h3>
}
else
{
    <div class="post">
        <h6>Posted by @post.Username</h6>
        <h3>@post.Title</h3>
        <div class="field">
            <p>@post.Body</p>
        </div>
    </div>
}

@code {
    
    [Parameter]
    public int Id { get; set; }

    private PostBasicDto? post;
    
    protected override async Task OnInitializedAsync()
    {
        post = await PostService.GetByIdAsync(Id);
    }
    
}