@page "/Posts/{id:int}"
@using HttpClients.ClientInterfaces
@using Domain.DTOs
@inject IPostsService PostService
@inject NavigationManager NavMgr



@if (post == null)
{
    <h3>This post does not exist!</h3>
}
else
{
    
    <h5>@post.Username</h5>
    
    <h3>@post.Title</h3>

    <p>@post.Body</p>
}

@code {
    
    [Parameter]
    public int Id { get; set; }

    private PostBasicDto? post;
    
    protected override async Task OnInitializedAsync()
    {
        post = await PostService.GetByIdAsync(Id);
    }
    
}