@inherits LayoutComponentBase
@inject NavigationManager NavMgr

<div class="page">
    <main>
            <button @onclick="GoHome">LOGO</button>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code
{
    private void GoHome()
    {
        NavMgr.NavigateTo("/");
    }
}

